@charset "UTF-8";

@import "zource/settings";
@import "zui";

body {
    background: $zui-footer-background-color;
}

.zui-layout-task #zource-content {
    background-color: inherit;
    padding-top: 40px;
}

.zui-page-header-image img {
    height: 64px;
    width: 64px;
}

a[disabled] {
    pointer-events: none;
}

table > tbody > tr > td,
table > tbody > tr > th,
table > tfoot > tr > td,
table > thead > tr > td,
table > thead > tr > th {
    vertical-align: middle;
}

@import "zource/dashboard";
@import "zource/layout";
@import "zource/load-more-button";
@import "zource/meta-list";
@import "zource/contacts/directory";
@import "zource/projects/admin-widgets";
@import "zource/projects/backlog";
@import "zource/projects/board";
@import "zource/projects/summary";
@import "zource/projects/reports";
@import "zource/projects/column-editor";
@import "zource/issues/toolbar";
@import "zource/issues/modules";
@import "zource/issues/search";
@import "zource/issues/activity";

.zui-field-group {
    padding: 4px 0 4px 215px;

    label {
        margin-left: -215px;
        width: 200px;
    }
}

.zui-buttons-container {
    padding: 4px 0 4px 215px;
}

fieldset.zui-group {
    padding: 4px 0 4px 215px;
}

fieldset legend {
    margin-left: -215px;
    width: 200px;
}

textarea {
    height: 150px;
}
