#zource-contacts-directory-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#zource-contacts-directory-list h2 {
    font-size: 1.8em;
    height: 32px;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

#zource-contacts-directory-list img {
    width: 128px;
}
