.zui-gadget-column {
    @include zui-box-sizing(border-box);

    display: table-cell;
    vertical-align: top;
    width: 100%;

    .zui-gadget {
        border: 1px solid #CCC;
        margin-bottom: 20px;

        .zui-gadget-header {
            background-color: $zui-color-primary;
            padding: 5px;

            h3 {
                color: #FFF;
                font-size: $zui-body-font-size - 1px;
                font-weight: bold;
                margin: 0px;
            }
        }
    }
}

.zui-gadget-column + .zui-gadget-column {
    padding-left: 20px;
}

.zui-gadget-1col-2col {
    .zui-gadget-column {
        display: table-cell;
        vertical-align: top;
        width: 30%;
    }

    .zui-gadget-column + .zui-gadget-column {
        display: table-cell;
        vertical-align: top;
        width: 70%;
    }
}

.zui-gadget-2col {
    .zui-gadget-column {
        display: table-cell;
        vertical-align: top;
        width: 49%;
    }
}

.zui-gadget-2col-1col {
    .zui-gadget-column {
        display: table-cell;
        vertical-align: top;
        width: 70%;
    }

    .zui-gadget-column + .zui-gadget-column {
        display: table-cell;
        vertical-align: top;
        width: 30%;
    }
}

.zui-gadget-3col {
    .zui-gadget-column {
        display: table-cell;
        vertical-align: top;
        width: 33%;
    }
}
