.zui-gadgets {
    display: table;
    width: 100%;
}

.zui-gadget-column {
    @include zui-box-sizing(border-box);

    display: table-cell;
    vertical-align: top;
    width: 100%;

    .zui-gadget {
        border: 1px solid #CCC;
        margin-bottom: 20px;

        .zui-gadget-header {
            background-color: $zui-color-primary;
            padding: 5px;

            h3 {
                color: #FFF;
                font-size: $zui-body-font-size - 1px;
                font-weight: bold;
                margin: 0px;
            }
        }
    }
}

.zui-gadget-column + .zui-gadget-column {
    padding-left: 20px;
}

.zui-gadget.zui-gadget-empty {
    background: #f5f5f5;
    border: 2px dashed #ccc;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #aaa;
    font-size: 24px;
    min-height: 200px;
    padding: 20px;
    text-align: center;
}

.zource-widgete-dialog-search input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 3px;
    color: #333;
    font-family: inherit;
    font-size: 14px;
    margin: 0 0 20px 0;
    max-width: 250px;
    padding: 6px 5px;
    vertical-align: baseline;
    width: 100%;
}

.zource-dialog-set-layout-item {
    cursor: $zui-cursor-pointer-value;
    height: 75px;
    width: 150px;
}
