.zource-meta-list {

}

.zource-meta-list dt {
    color: #707070;
    font-size: 14px;
    font-weight: bold;
}

.zource-meta-list dd {
    margin: 5px 0 0 0;
}

.zource-meta-list dd + dt {
    margin-top: 15px;
}
