body {
    background: $zui-footer-background-color;
}

.zui-layout-task #zource-content {
    background-color: inherit;
    padding-top: 40px;
}

.zui-page-header-image img {
    height: 64px;
    width: 64px;
}

a[disabled] {
    pointer-events: none;
}

table > tbody > tr > td,
table > tbody > tr > th,
table > tfoot > tr > td,
table > thead > tr > td,
table > thead > tr > th {
    vertical-align: middle;
}

.zui-field-group {
    padding: 4px 0 4px 215px;

    label {
        margin-left: -215px;
        width: 200px;
    }
}

.zui-buttons-container {
    padding: 4px 0 4px 215px;
}

input[type="checkbox"] {
    vertical-align: -webkit-baseline-middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    height: 150px;
}

.zui-table-list td {
    vertical-align: top;
}

pre {
    border: 1px solid #cacaca;
    font: 12px/1.4em Consolas, 'Liberation Mono', Courier, monospace;
    padding: 10px;
    overflow: auto;
    border-radius: 3px;
    background-color: #fafafb;
    color: #393939;
    margin-bottom: 20px;
}

.zui-example pre {
    margin: 0;
}

.zui-example-code-cli {
    background-color: #444;
    color: #fff;
    border-radius: 3px;
    border: none;
}

.zui-example-code-cli span.zui-example-code-cli-output {
    color: #63E463;
}
